@model WhoScored.Models.WorldDetailsModel
@{
    ViewBag.Title = "League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    var oteamStandingsTable;
    var selectedSeason;

    function updateLeagueText() {
        $(".selectedLeague").text(this.country + ' / ' + this.series);
    }

    var selectedLeague = {};

    $.storage = new $.store();

    function setTeamStandingsTable() {
        series = $('#seriesSelect').val();
        season = $('#seasonSelect').val();

        if (season != null && series != null) {

            oteamStandingsTable = $('#teamStandings').dataTable({
                "sDom": '<"top">rt<"bottom"flp><"clear">',
                "bFilter": false,
                "bRetrieve": true,
                "bServerSide": true,
                "bPaginate": false,
                "bLengthChange": false,
                "sAjaxSource": "League/TeamStandings",
                "bProcessing": false,
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push({ "name": "season", "value": season });
                    aoData.push({ "name": "seriesId", "value": series });

                    $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": aoData,
                        "success": fnCallback
                    });
                },
                "aoColumns": [
                    { "sName": "TeamId", "sWidth": "5%" },
                    { "sName": "TeamName", "sWidth": "45%" },
                    { "sName": "Played", "sWidth": "10px" },
                    { "sName": "Won", "sWidth": "10px" },
                    { "sName": "Drawn", "sWidth": "10px" },
                    { "sName": "Lost", "sWidth": "10px" },
                    { "sName": "GoalsScored", "sWidth": "10px" },
                    { "sName": "GoalsConceded", "sWidth": "10px" },
                    { "sName": "GoalDifference", "sWidth": "10px" },
                    { "sName": "TotalPoints", "sWidth": "10px" }
                ]
            });
        }
    }


    function UpdateSelectedSeriesHeader() {
        selectedLeague.country = $('#countryId option:selected').text();
        selectedLeague.series = $('#seriesSelect option:selected').text();
        $(selectedLeague).trigger('leagueUpdated');
    }

    function NavUpButtonClick(firstSeasonToShow) {
        var totalSeasons = $.storage.get("totalSeasons");
        var nextSeasonToShow = parseInt(firstSeasonToShow);
        var nextDownButtonId = 6;
        if ((totalSeasons - nextSeasonToShow - 6) < 0) {
            nextSeasonToShow = totalSeasons - 6;
        }
        for (var i = 7; i > 0; i--) {
            var buttonId = "#button-" + i;
            var showButton = true;
            if (i === 1) {
                if (nextSeasonToShow != totalSeasons) {
                    showButton = false;
                }
            }

            if (nextSeasonToShow <= totalSeasons && showButton) {
                $(buttonId).show();
                $(buttonId).attr('value', nextSeasonToShow);
                $(buttonId).html(nextSeasonToShow);
                nextSeasonToShow = nextSeasonToShow + 1;
                $.storage.set("nextToShowUp", nextSeasonToShow);
            }else {
                $(buttonId).hide();
            }
        }

        if (nextSeasonToShow < totalSeasons) {
            $("#button-nav-up").show();            
        } else {
            $("#button-nav-up").hide();
            nextDownButtonId = 7;
        }

        $.storage.set("nextToShowDown", $('#button-' + nextDownButtonId).val() - 1);
        $("#button-nav-down").show();
    }

    function NavDownButtonClick(firstSeasonToShow) {
        var totalSeasons = $.storage.get("totalSeasons");
        var nextSeasonToShow = parseInt(firstSeasonToShow);
        var first;
        
        if (nextSeasonToShow < 6) {
            nextSeasonToShow = 6;
        }

        if (totalSeasons === firstSeasonToShow) {
            $("#button-nav-up").hide();
            $("#button-1").show();
            first = 1;
            $.storage.set("nextToShowUp", totalSeasons);
        } else {
            $("#button-nav-up").show();
            $("#button-1").hide();
            first = 2;
            $.storage.set("nextToShowUp", nextSeasonToShow + 1);
        }       

        for (var i = first; i < 8; i++) {
            var buttonId = "#button-" + i;
            if (nextSeasonToShow > 0) {
                $(buttonId).show();
                $(buttonId).attr('value', nextSeasonToShow);
                $(buttonId).html(nextSeasonToShow);
                nextSeasonToShow = nextSeasonToShow -1;
                $.storage.set("nextToShowDown", nextSeasonToShow);
            }else {
                $(buttonId).hide();
            }
        }
      
        if (nextSeasonToShow > 0) {
            $("#button-nav-down").show();
        }else {
            $("#button-nav-down").hide();
        }
    }

    function UnselectSeasonButtons() {
        $('#seasonButtons button').each(function () {
            $(this).removeClass('active');
        });
    }

    function SelectSeasonButton(season) {
        UnselectSeasonButtons();

        var nextToShowDown = $.storage.get("nextToShowDown");
        var nextToShowUp = $.storage.get("nextToShowUp");

        if (nextToShowDown >= season) {
            NavDownButtonClick(season);
        }

        if (nextToShowUp <= season) {
            NavUpButtonClick(season);
        }
            

        $('#seasonButtons button').each(function () {
            if ($(this).val() === season) {
                $(this).addClass('active');    
            }            
        });
    }

    $(document).ready(function () {
        $("#seriesSelect").CascadingDropDown("#countryId", '/Migration/AsyncSeriesSelect');
        $("#seasonSelect").CascadingDropDown("#countryId", '/Migration/AsyncSeasonSelect');

        $.storage.set("totalSeasons", '@(Model.CurrentSeason)');
        NavDownButtonClick('@(Model.CurrentSeason)');
        SelectSeasonButton('@(Model.CurrentSeason)');


        $("#seriesSelect,#countryId").change(function () {
            UpdateSelectedSeriesHeader();
        });

        $(selectedLeague).bind('leagueUpdated', updateLeagueText);

        var countryId = $('#countryId').val();

        $.ajax({
            type: 'POST',
            url: "/Migration/AsyncSeasonSelect",
            data:
                {
                    countryId: countryId
                },
            dataType: 'json',
            traditional: true,
            success: function (result) {
                var options = $("#seasonSelect");
                $.each(result, function () {
                    options.append($("<option />").val(this.Value).text(this.Text));
                });
                options.removeAttr("disabled");
            }
        });

        $.ajax({
            type: 'POST',
            url: "/Migration/AsyncSeriesSelect",
            data:
                {
                    countryId: countryId
                },
            dataType: 'json',
            traditional: true,
            success: function (result) {
                var options = $("#seriesSelect");
                $.each(result, function () {
                    options.append($("<option />").val(this.Value).text(this.Text));
                });
                options.removeAttr("disabled");
                setTeamStandingsTable();
                UpdateSelectedSeriesHeader();
            }
        });

        $('#button-nav-down').click(function () {
            UnselectSeasonButtons();
            NavDownButtonClick($.storage.get("nextToShowDown"));
        });

        $('#button-nav-up').click(function () {
            UnselectSeasonButtons();
            NavUpButtonClick($.storage.get("nextToShowUp"));
        });


        $('#seasonSelect').change(function () {
            setTeamStandingsTable();
            oteamStandingsTable.fnDraw();
            SelectSeasonButton($(this).val());
        });

        $('#seriesSelect').change(function () {
            setTeamStandingsTable();
            oteamStandingsTable.fnDraw();
        });

        $('#seasonButtons button').click(function () {
            $('#seasonSelect').val($(this).val());
            setTeamStandingsTable();
            oteamStandingsTable.fnDraw();
        });
    });

</script>
<div class="page-header">
    <h1>
        <span class="selectedLeague">League</span></h1>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <label class="control-label" for="countryId">
                Country</label>
            <div class="controls">
                <select id="countryId" name="countryId">
                    @foreach (var country in Model.WorldDetails.Where(c => c.LeagueInWhoScored).OrderBy(c => c.EnglishName))
                    {
                        <option value="@country.LeagueID" >@country.EnglishName</option>
                    }
                </select>
            </div>
            <label class="control-label" for="seasonSelect">
                Season</label>
            <div class="controls">
                <select id="seasonSelect" name="seasonSelect">
                </select>
            </div>
            <label class="control-label" for="seriesSelect">
                Series</label>
            <div class="controls">
                <select id="seriesSelect" name="seriesSelect">
                </select>
            </div>
        </div>
        <div class="span9">
            <div class="btn-group-centered">
            <div class="btn-group" id="matchRound" data-toggle="buttons-radio">
                <button class="btn btn-primary">
                    1</button>
                <button class="btn btn-primary">
                    2</button>
                <button class="btn btn-primary">
                    3</button>
                <button class="btn btn-primary">
                    4</button>
                <button class="btn btn-primary">
                    5</button>
                <button class="btn btn-primary">
                    6</button>
                <button class="btn btn-primary">
                    7</button>
                <button class="btn btn-primary">
                    8</button>
                <button class="btn btn-primary">
                    9</button>
                <button class="btn btn-primary">
                    10</button>
                <button class="btn btn-primary">
                    11</button>
                <button class="btn btn-primary">
                    12</button>
                <button class="btn btn-primary">
                    13</button>
                <button class="btn btn-primary">
                    14</button>
            </div>  
            </div>
            </div> 
        <div class="span0">
            <button type="button" id="button-nav-up" class="btn btn-success nav-btn">...</button>            
            <div class="btn-group-vertical" id="seasonButtons" data-toggle="buttons-radio">
                <button type="button" id="button-1" class="btn btn-success"></button>                
                <button type="button" id="button-2" class="btn btn-success"></button>
                <button type="button" id="button-3" class="btn btn-success"></button>
                <button type="button" id="button-4" class="btn btn-success"></button>
                <button type="button" id="button-5" class="btn btn-success"></button>
                <button type="button" id="button-6" class="btn btn-success"></button>
                <button type="button" id="button-7" class="btn btn-success"></button>                    
            </div>
            <button type="button" id="button-nav-down" class="btn btn-success nav-btn">...</button>
        </div>
            <div class="span8">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                       id="teamStandings" width="100%">
                    <thead>
                        <tr>
                            <th>
                                R
                            </th>
                            <th>
                                Team
                            </th>
                            <th>
                                P
                            </th>
                            <th>
                                W
                            </th>
                            <th>
                                D
                            </th>
                            <th>
                                L
                            </th>
                            <th>
                                GF
                            </th>
                            <th>
                                GA
                            </th>
                            <th>
                                GD
                            </th>
                            <th>
                                Pts
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        <div id="noTeamStandingsAlert" class="alert alert-error hide">
            No team standings available.</div>
        </div>    
</div>
