@model WhoScored.Models.MigrationModel
@{
    ViewBag.Title = "Migration";
}
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/migration.index.js")"> </script>
    <script type="text/javascript" >
        var MigrationViewUrl = { showFixtures: "@Url.Action("ShowFixtures", "Migration")",
                                 migrateMatchDetails: "@Url.Action("MigrateMatchDetails", "Migration")",
                                 getMigrationStatus: "@Url.Action("GetMigrationStatus", "Migration")",
                                 migrateSeriesDetails: "@Url.Action("MigrateSeriesDetails", "Migration")",
                                 migrateSeriesFixtures: "@Url.Action("MigrateSeriesFixtures", "Migration")",
                                 startMigrateMatchDetails: "@Url.Action("StartMigrateMatchDetails", "Migration")",
                                 completeMigrateMatchDetails: "@Url.Action("CompleteMigrateMatchDetails", "Migration")"};

        migration.index.initUrl(MigrationViewUrl);
        

    </script>
    <script type="text/javascript">
        
        $(document).ready(function() {
            MigrationDocumentReady();
        });
    </script>
}

<form class="well form-inline">
<fieldset>
    <div class="control-group">
        <label class="control-label" for="countryId">
            Country</label>
        <div class="controls">
            <select id="countryId" name="countryId" multiple="multiple" size="10">
                @foreach (var country in Model.WorldDetails.Where(c => c.LeagueInWhoScored).OrderBy(c => c.EnglishName))
                {
                    <option value="@country.LeagueID" >@country.EnglishName</option>
                }
            </select>
        </div>
        <label class="control-label" for="seasonSelect">
            Season</label>
        <div class="controls">
            <select id="seasonSelect" name="seasonSelect">
            </select>
        </div>
        <label class="control-label" for="seriesSelect">
            Searies</label>
        <div class="controls">
            <select id="seriesSelect" name="seriesSelect" multiple="multiple" size="10">
            </select>
        </div>
    </div>
    <div id="fixturesAlert" class="alert alert-error hide">
        <button id="closeFixturesMessage" class="close" data-dismiss="alert" type="button"
            onclick="$('#fixturesAlert').hide();">
            ×</button>
        No fixtures available.
    </div>
    <div id="fixturesMigrationSuccess" class="alert alert-success hide">
        <button id="closeFixturesMigrationSuccess" class="close" data-dismiss="alert" type="button"
            onclick="$('#fixturesMigrationSuccess').hide();">
            ×</button>
        Fixtures Successfully migrated.
    </div>
    <div id="fixturesMigrationFailure" class="alert alert-error hide">
        <button id="closeFixturesMigrationFailure" class="close" data-dismiss="alert" type="button"
            onclick="$('#fixturesMigrationFailure').hide();">
            ×</button>
        Fixtures migration failed.
    </div>
    <div class="form-actions">
        <a class="btn btn-danger" href="@Url.Action("MigrateWorldDetails", "Migration")">Migrate
            World</a>
        <button class="btn btn-danger" type="button" id="migrateSeries">
            Migrate Series</button>
        <button class="btn btn-danger" type="button" id="migrateFixtures">
            Migrate Fixtures</button>
        <button class="btn btn-danger" type="button" id="migrateMatches">
            Migrate All Matches</button>
    </div>
</fieldset>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered hide"
    id="example" width="100%">
    <thead>
        <tr>
            <th>
                Match ID
            </th>
            <th>
                Match Date
            </th>
            <th>
                Match Round
            </th>
            <th>
                Home Team Name
            </th>
            <th>
                Away Team Name
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Match ID
            </th>
            <th>
                Match Date
            </th>
            <th>
                Match Round
            </th>
            <th>
                Home Team Name
            </th>
            <th>
                Away Team Name
            </th>
        </tr>
    </tfoot>
</table>
    <div class="modal hide" id="processingModal">
        <div class="modal-header">
            <h3>
                Migrating</h3>
        </div>
        <div class="modal-body">
            <p>
                Migrating matches. Please wait...</p>
        </div>
    </div>
    
    <div class="modal hide" id="migrateFixturesModal">
    <div class="modal-header">
        <h3>Migrating</h3>
    </div>
    <div class="modal-body">
        <p>
            Migrating fixtures. Please wait...</p>
    </div>
</div>

    <div class="modal hide" id="migrationProgressModal">
    <div class="alert alert-info" id="migrating">
        <strong>Migrating selected matches...</strong>
    </div>
    <div class="alert alert-success hide" id="migrationSuccess">
        <button class="close" id="migrationProgressModalClose" type="button" onclick="closeMigrationProgressModal();">x</button>
        <strong>Migration complete!</strong>
    </div>
    <div class="alert alert-error hide" id="migrationFailed">
        <strong>Migration Failed!</strong>
    </div>
    <div class="modal-body">
        <div class="progress">
            <div class="bar" id="migrationProgressBar" style="width: 0%;">
            </div>
        </div>
    </div>
</div>
</form>
