@model WhoScored.Models.MigrationModel
@{
    ViewBag.Title = "Migration";
}
<script type="text/javascript">
    $(document).ready(function() {
        
        $.extend( $.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline"
        } );
        
        //Attach cascading behavior to the orderID select element.
        $("#seriesSelect").CascadingDropDown("#countryId", '/Migration/AsyncSeriesSelect');
        $("#seasonSelect").CascadingDropDown("#countryId", '/Migration/AsyncSeasonSelect');

        $('#migrateSeries').click(function() {
            var series = $('#seriesSelect').val();

            $.ajax({
                url: "@Url.Action("MigrateSeriesDetails", "Migration")",
                type: "POST",
                data:
                    {
                        seriesId: series
                    },
                dataType: 'json',
                traditional: true
            });
        });

        $('#seriesSelect').change(function() {
            var series = $('#seriesSelect').val();
            var season = $('#seasonSelect').val();

            if (season != null && series != null) {
                $.ajax({
                    url: "@Url.Action("ShowFixtures", "Migration")",
                    type: "POST",
                    data:
                        {
                            seriesId: series,
                            season: season
                        },
                    dataType: 'json',
                    traditional: true,
                    success: function(data) {
                        if (data == null) {
                            $("#fixturesAlert").show();
                        }
                        else
                        {
                                    $('#example').dataTable({
                                        "bServerSide": true,
                                        "sAjaxSource": "Migration/AjaxHandler",
                                        "bProcessing": true,
                                        "aoColumns": [
                                                { "sName": "ID",
                                                    "bSearchable": false,
                                                    "bSortable": false,
                                                    "fnRender": function (oObj) {
                                                        return '<a href=\"Details/' + 
                                                        oObj.aData[0] + '\">View</a>';
                                                    }
                                                },
                                                    { "sName": "COMPANY_NAME" },
                                                    { "sName": "ADDRESS" },
                                                    { "sName": "TOWN" }
                                                ]
                                    });
                        }
                    }                    
                });
            }
        });
    });
</script>
<form class="well form-inline">
<fieldset>
    <div class="control-group">
        <label class="control-label" for="countryId">
            Country</label>
        <div class="controls">
            <select id="countryId" name="countryId" multiple="multiple" size="10">
                @foreach (var country in Model.WorldDetails.Where(c => c.LeagueInWhoScored).OrderBy(c => c.EnglishName))
                {
                    <option value="@country.LeagueID" >@country.EnglishName</option>
                }
            </select>
        </div>
        <label class="control-label" for="seasonSelect">
            Season</label>
        <div class="controls">
            <select id="seasonSelect" name="seasonSelect">
            </select>
        </div>
        <label class="control-label" for="seriesSelect">
            Searies</label>
        <div class="controls">
            <select id="seriesSelect" name="seriesSelect" multiple="multiple" size="10">
            </select>
        </div>
    </div>
    <div id="fixturesAlert" class="alert alert-error hide">
        <button id="closeFixturesMessage" class="close" data-dismiss="alert" type="button"
            onclick="$('#fixturesAlert').hide();">
            ×</button>
        No fixtures available.
    </div>
    <div class="form-actions">
        <a class="btn btn-danger" href="@Url.Action("MigrateWorldDetails", "Migration")">Migrate
            World</a>
        <button class="btn btn-danger" type="button" id="migrateSeries">
            Migrate Series</button>
        <button class="btn btn-danger" type="button" id="migrateFixtures">
            Migrate Fixtures</button>
    </div>
</fieldset>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
    id="example" width="100%">
    <thead>
        <tr>
            <th>
                Match ID
            </th>
            <th>
                Match Date
            </th>
            <th>
                Match Round
            </th>
            <th>
                Home Team Name
            </th>
            <th>
                Away Team Name
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Match ID
            </th>
            <th>
                Match Date
            </th>
            <th>
                Match Round
            </th>
            <th>
                Home Team Name
            </th>
            <th>
                Away Team Name
            </th>
        </tr>
    </tfoot>
</table>
</form>
